<div class="container__footer">
  <hr>
  <ul class="list">
  <a href="{{linkedin}}" target="_blank"><li>
  <div class="favicon">
    <img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/circle-linkedin-512.png" alt="">
  </div>
  </li></a>
  <a href="{{github}}" target="_blank"><li>
    <div class="favicon">
      <img src="https://images.freeimages.com/fic/images/icons/2779/simple_icons/512/github_512_black.png" alt="">
    </div>

  </li></a>
  <a href="{{instagran}}" target="_blank"><li>
    <div class="favicon">
      <img src="https://cdn4.iconfinder.com/data/icons/social-media-2210/24/Instagram-512.png" alt="">
    </div>
  </li></a>

  </ul>
  <hr>
  </div>
