
.container-left-card{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 10px;
  padding: 20px;


}

.container-left-card h1{
  padding:50px 0px 10px 65px;
  font-size: 52px;
}

.container-left-card p{
 display: flex;
 justify-content: center;
 padding-top: 50px;
}

.container-left-card img{
width: 500px;
border-radius: 5px;




}

.container-left-card img:hover{
  cursor: pointer;
}
