<div class="container-left-card">
  <a href="https://aws.amazon.com/pt/free/?trk=2ee11bb2-bc40-4546-9852-2c4ad8e8f646&sc_channel=ps&ef_id=Cj0KCQjwx5qoBhDyARIsAPbMagDNrN2ZRIvJo7iuN3spYjDUs-UvkeXgUYXteJ04jpgpLicTcqlVCRcaAnHCEALw_wcB:G:s&s_kwcid=AL!4422!3!561843094929!e!!g!!aws!15278604629!130587771740&all-free-tier.sort-by=item.additionalFields.SortRank&all-free-tier.sort-order=asc&awsf.Free%20Tier%20Types=*all&awsf.Free%20Tier%20Categories=*all" target="_blank">
  <img src="{{imagemContPrincipal}}" alt=""></a>
  <p>{{conteudo}}</p>

</div>

