
.container_card{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 10px;
  padding: 20px;
}

.container_card h1{
  padding:50px 0px 10px 65px;
  font-size: 45px;
}

.container_card p{
  padding:10px 0px 50px 65px;
}
button{

  width: 150px;
  height: 30px;
  margin-left: 65px;
  padding: 0;
  border-radius: 10px;

  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
  rgba(0, 0, 0, 0.12) 0px -12px 30px,
   rgba(0, 0, 0, 0.12) 0px 4px 6px,
   rgba(0, 0, 0, 0.17) 0px 12px 13px,
   rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

button:hover{
  cursor: pointer;
  color: rgb(211, 214, 17);
  transition: 0.7s
}
