<div class="container__card">
<div class="right-card">
  <app-right-card
  cardPhoto="https://m.media-amazon.com/images/I/51vLIXjlTvL._AC_SX679_.jpg"
  conteudo="
  Marca	SAMSUNG
  Nome do modelo	Notebook Book 2
  Tamanho da tela	15,6 Polegadas
  Cor	Cinza
  Tamanho do disco rígido	256 GB"
  ></app-right-card>
  <app-right-card
  cardPhoto="https://m.media-amazon.com/images/I/61r-iW6409L.__AC_SX300_SY300_QL70_ML2_.jpg"
  conteudo="
  MarcPlaca Mãe Lga1150 Chipset Intel H81 6gb Usb 3.0 Ddr3 1066 16GB Suporta DDR31066/1333/1600 MHZ de canal duplo"
  ></app-right-card>
  <app-right-card
  cardPhoto="https://m.media-amazon.com/images/I/61bYFON7VTL.__AC_SX300_SY300_QL70_ML2_.jpg"
  conteudo="
  Galax PLACA DE VIDEO GEFORCE RTX 3050 EX 1-CLICK OC 8GB GDDRD6-35NSL8MD6YEX"
  ></app-right-card>
  <app-right-card
  cardPhoto="https://m.media-amazon.com/images/I/619x9jJRYIL.__AC_SX300_SY300_QL70_ML2_.jpg"
  conteudo="
  Monitor Gamer AOC SNIPER 27"
  ></app-right-card>

</div>

<div class=" lef-card">
  <app-right-card
  cardPhoto="https://m.media-amazon.com/images/I/51vLIXjlTvL._AC_SX679_.jpg"
  conteudo="
  Marca	SAMSUNG
  Nome do modelo	Notebook Book 2
  Tamanho da tela	15,6 Polegadas
  Cor	Cinza
  Tamanho do disco rígido	256 GB"
  ></app-right-card>
  <app-right-card
  cardPhoto="https://m.media-amazon.com/images/I/61r-iW6409L.__AC_SX300_SY300_QL70_ML2_.jpg"
  conteudo="
  MarcPlaca Mãe Lga1150 Chipset Intel H81 6gb Usb 3.0 Ddr3 1066 16GB Suporta DDR31066/1333/1600 MHZ de canal duplo"
  ></app-right-card>
  <app-right-card
  cardPhoto="https://m.media-amazon.com/images/I/61bYFON7VTL.__AC_SX300_SY300_QL70_ML2_.jpg"
  conteudo="
  Galax PLACA DE VIDEO GEFORCE RTX 3050 EX 1-CLICK OC 8GB GDDRD6-35NSL8MD6YEX"
  ></app-right-card>
  <app-right-card
  cardPhoto="https://m.media-amazon.com/images/I/619x9jJRYIL.__AC_SX300_SY300_QL70_ML2_.jpg"
  conteudo="
  Monitor Gamer AOC SNIPER 27"
  ></app-right-card>

</div>
</div>
